div {
    color: white;
    font-size: 50px;
}

.grid {
    margin-left: auto;
    margin-right: auto;
}

.entry {
    height: 11vw;
    width: 11vw;
    padding: 10px;
    background-color: white;
    border: 3px solid black;
}

.cone {
    background-color: yellow;
}

.cone-next {
    background-color: yellow;
    color:black;
    text-align: center;
}

.cube {
    background-color: purple;
}

.cube-next {
    background-color: purple;
    color:white;
    text-align: center;
}

.both {
    background: linear-gradient(to top right, purple 0%, purple 50%, transparent 50%, transparent 100%), linear-gradient(to bottom left, yellow 0%, yellow 50%, transparent 50%, transparent 100%);
    background-size: 100% 100%;
    background-position: left top, right bottom;
    background-repeat: no-repeat;
}

.next {
    background-color: green;
    color:green;
}

.link {
    background-color: blue;
}

.bottom-button {
    margin-top:10px;
    padding-top:40px;
    width: 100vw;
    height: 20vh;
    text-align: center;
}

.bottom-text {
}

.override {
    background-color: blue;
}

.indicate {
    background-color: limegreen;
}